/*Adds a margin to all images*/
body {
    background-color: #0B0C51;
}
img {
    margin:auto;
}
/*For all code within the "main" element, the below code aligns the text to the center, adds a  solid black 2px border to it, curves the border, 
adds a background color of aquamarine, a margin of 10px by 250px, and padding of 2px by 20px*/
main {
    text-align: center; border: 1px solid black; margin: 2px 250px; padding: 2px 20px; background-color: whitesmoke; font-size: 16px;
}
/*Class for all links in the nav bar. Makes the background color darkblue, text color aliceblue, padding of 16px by 185px, font-size of 20px,
font family-Arial Verdana, sans-serif, and removes the line from underneath the links*/
.navbarlink {
    background-color: darkblue; color:aliceblue; 
    padding: 16px 185px; font-size: 20px; font-family: Arial Verdana, sans-serif; text-decoration: none;
}
/*When you hover over a link it changes the background color to cornflower blue, and the text color to honey dew*/
a:hover {
    background-color: cornflowerblue; color: honeydew; 
}
/*Class for source links. Makes text color darkblue, font size - 14 pixels, and removes line from underneath*/
.sources {
    color: 3538E9; font-size: 14px; text-decoration: none;
}
* {
    line-height: 2.3rem;  
}